@model IEnumerable<Game>
@{
	ViewData["Title"] = "Games";
}

<a class="btn btn-secondary btn-lg" asp-action="Create">
	<i class="bi bi-plus-circle-dotted"></i>
	Add Game
</a>


@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">No games!</h4>
        <p class="mb-0">No games were added yet.</p>
    </div>
}
else
{
    <div class="row mt-5">
        <table class="table table-bordered border-primary">
            <tbody>
                @foreach(var game in Model)
                {
                    <tr class="">

                    </tr>
                }
            </tbody>
        </table>
    </div>
}

